
           .dir-selector {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        .dir-selector {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
        }

        
        @media all and (max-width: 900px) {
          .dir-selector {
            /* On small screens, we are no longer using row direction but column */
            flex-direction: column;
          }
        }
        .dir-Option {
            transition: all ease-in-out 0.2s;
            padding: 5px;
            width: 100%;
            margin: 2px 2px 2px 2px;
            color: #ccc;
            background-color: #fcfcfc;
            border-radius: 0px;
            border-bottom: 2px dashed #F0F0F0;
            position: relative;
            -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
            .dir-Option > * {
                display: inline-block;
                height: 100%;
            }
            .dir-Option select {
                border: 0 !important;
                background: #EDF1F2;
                text-indent: 0.01px;
                color: #909FA7;
                border-radius: 10px 0 0 10px;
                padding: 5px;
                font-family: monospace;
                font-size: 16px;
            }
            .dir-Option select:first-child {
                width: 30%;
            }
            .dir-Option select[value=" "]:first-child {
                width: 15%;
            }
                .dir-Option select:last-of-type:not(:first-of-type)  {
                    width: 25%;
                    border: 0 !important;
                    background: #EDF1F2;
                    text-indent: 0.01px;
                    color: #909FA7;
                    border-radius: 0 10px 10px 0;
                    padding: 5px;
                    font-family: monospace;
                    font-size: 16px;
                }
                .dir-Option select:focus {
                    outline: 0;
                    border: 1px solid #888 !important;
                }
            .dir-Option input {
                width: 45%;
                font-size: 17px;
                color: #888;
                font-stretch: condensed;
                font-family: monospace;
                background-color: #FFFFFF;
                padding: 5px;
                text-align: center;
                border: 1px solid #EDF1F2;
                text-transform: uppercase;
                transition: padding-right 0.2s ease-in-out;
                padding-right: 55px;
            }
            .dir-Option select[value=" "]:first-child+input {
                width: 60%;
            }
            .dir-Option select[value=" "]:first-child+input:last-child {
                width: 85%;
            }
                .dir-Option input:last-child{
                    border-radius: 0 10px 10px 0;
                    width: 70%;
                }
                .dir-Option input:focus {
                    outline: 0;
                    border: 1px solid #909FA7 !important;
                }
            .dir-Option.active {
                outline: 1px dashed #37bc9b;
                padding: 5px;
                height: 40px;
                color: #888;
                background-color: #F0F0F0;
                border-bottom: 1px dashed #37bc9b;
            }
        .dir-Close {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            height: auto;
            font-size: 1.3em;
            color: #E58181;
            background-color: #FFF;
            border-radius: 40% 48%;
        }
        .dir-modal-close:hover {
            color: #CE7272;
        }
        .dir-modal-help:hover {
            color: #72ABCE;
        }
        .dir-Add {
            cursor: pointer;
            background-color: #F3F3F3;
            align-self: center;
            font-size: 12px;
            display: flex;
            color: #97AB97;
            padding: 4px;
            border-radius: 9px;
            font-family: monospace;
        }
            /*.dir-text:before {
                content: "Dirección";
                position: absolute;
                top: -32px;
                right: 0;
                width: 30%;
                height: 32px;
                color: #909FA7;
                font-size: 18px;
                border: 1.5px solid #909FA7;
                line-height: 1.5;
                margin: 0 35%;
                font-family: monospace;
                text-transform: uppercase;
                border-radius: 1em 1em 0 0;
                background-color: #EDF1F2;
                font-weight: lighter;
                opacity: 0;
            }*/


        .dir-preview, .dir-text {
            padding: 31px 76px;
            font-size: 24px;
            font-family: monospace;
            overflow-wrap: break-word;
            color: #909FA7;
            text-align: center;
            border-color: rgb(144, 159, 167);
            border-radius: 15px;
            /* border: 1.5px solid #909fa7; */
            position: relative;
            /* margin-bottom: 50px; */
            /* min-width: 200px; */
            text-transform: uppercase;
        }
        .dir-text {
            display: none;
        }
        @keyframes zoomIn {
            from {
                opacity: 0;
                -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3);
            }

            50% {
                opacity: 1;
            }
        }
        .dir-save:hover,.dir-save:focus,.dir-save:active{
            background-color: #97AB97;
            color: #FFF;
        }
        .dir-save{
            transition: all 0.6s ease-in-out;
            cursor: pointer;
            background-color: #F3F3F3;
            color: #97AB97;
            align-self: center;
            font-size: 15px;
            padding: 0;
            border-radius: 9px;
            font-family: monospace;
            margin: 0 35%;
            text-align: center;
            border: 1px solid #DEE3DE;
        }
            .dir-save * {
                pointer-events: none;
                -webkit-user-select: none;
                -webkit-user-drag: none;
            }
        .dir-bis:before {
            content: "\f096";
            width: 14px;
            height: 14px;
            color: #909FA7;
            display: inline-block;
            margin: 0px 2px;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transition: all 0.2s ease-in-out;
        }
        .dir-bis[data-active="true"]:before {
            content: "\f14a";
        }
        .dir-bis {
            color: #909FA7;
            cursor: pointer;
            margin-left: -56px;
            margin-right: 2px;
            width: 54px;
            opacity: 0.9;
            font-family: monospace;
            border-radius: 5px;
            padding: 2px;
            transition: all 0.2s ease-in-out;
        }
            .dir-bis:hover, .dir-bis[data-active="true"] {
            opacity: 1;
            background-color: #EDF1F2;
            }
/*====================================================================*/
        .dir-modal {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(51, 51, 51, 0.75);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2000;
            padding: 5%;
            min-height: 100vh;
        }
        .dir-modal-body {
            position: relative;
            z-index: 2004;
            padding: 1em;
            background-color: #FCFCFC;
            border-radius: 1em;
            min-width: 300px;
            min-height: 180px;
        }
        .dir-modal-header {
            width: 100%;
            min-height: 1px;
            position: relative;
            z-index: 2005;
            border-radius: 1em 1em 0 0;
            padding: 1em;
            background-color: #FCFCFC;
        }
        .dir-modal-header+.dir-modal-body {
           
            border-radius: 0 0 1em 1em;
        }
        .dir-modal-close {
            display: inline-block;
            position: absolute;
            right: -1em;
            top: -1em;
            cursor: pointer;
            color: #E58181;
            background-color: #fff;
            border-radius: 50%;
            z-index: 2010;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .dir-modal-help {
            display: inline-block;
            position: absolute;
            width: 80%;
            bottom: -75%;
            left: 0;
            right: 0;
            cursor: pointer;
            color: #82BBDE;
            background-color: #fff;
            border-radius: 12px;
            z-index: 2010;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding: 5px;
            margin: 0 auto;
            text-align: center;
        }
        
        .dir-modal-help *,.dir-modal-close *{
            pointer-events: none;
            -webkit-user-select: none;
            -webkit-user-drag: none;
        }
        .dir-modal-content {
            position: relative;
            z-index: 2001;
            max-width: 100%;
        }
        .dir-modal-close i {
            margin: 3px 6px;
            text-shadow: 0 0 16px #fff;
        }
        .dir-modal-help i {
            margin: 3px 6px;
            text-shadow: 0 0 16px #fff;
        }
        .dir-modal-content:before {
            text-align: center;
            content: "ingresar dirección";
            position: absolute;
            top: -40px;
            right: 0;
            width: 40%;
            height: 41px;
            color: #909FA7;
            font-size: 25px;
            line-height: 2.5;
            margin: 0 30%;
            font-family: monospace;
            text-transform: uppercase;
            border-radius: 1em 1em 0 0;
            background-color: #FCFCFC;
            font-weight: lighter;
        }
        .dir-modal-content > *,.dir-modal-content {
            transition: all 0.2s ease-in-out;
        }
        /*==============================Alerts==============================*/
        .dir-alert ~ * {
            display:none;
        }
        .dir-alert {
            /*position: relative;
            top: 0;s
            left: 0;
            right: 0;
            bottom: 0;*/
            border-radius: 1em;
            background-color: #FCFCFC;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 2em;
        }
            .dir-alert:before {
                text-align: center;
                content: attr(data-tittle);
                position: absolute;
                top: -40px;
                right: 0;
                width: 40%;
                height: 41px;
                color: #909FA7;
                font-size: 25px;
                line-height: 2.5;
                margin: 0 30%;
                font-family: monospace;
                text-transform: uppercase;
                border-radius: 1em 1em 0 0;
                background-color: #FCFCFC;
                font-weight: lighter;
            }

        .dir-alert-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0.5em;
        }

.dir-btn {
    background-color: #fff;
    padding: 0.15em 2em;
    font-size: 14px;
    font-weight: 700;
    font-family: monospace;
    border-radius: 10px;
    border: 1px dashed;
    color: #9f9f9f;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

        .dir-alert-footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .dir-btn:hover {
            color: #fff;
            background: #9f9f9f;
            border-style: solid;
            border-color: #9f9f9f;
        }

        .dir-btn-danger {
            background-color: #E58181;
            color: #fff;
            border-color: #E58181;
        }

        .dir-btn-success {
            background-color: #97AB97;
            color: #fff;
            border-color: #97AB97;
        }

        .dir-alert-content {
            /* background-color: lightgrey; */
            padding: 0.1em 2em;
            border-radius: 4px;
            font-size: 24px;
        }
.dir-modal-active {
    overflow: hidden !important;
}