@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

ul.crud-list li {
    background-color: #37bc9b;
    color: #FED;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 3px;
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
}
ul.crud-list{
   
    overflow-y: auto;
    max-height: 100px;
    max-width: 100%;
    overflow-x: hidden;
    display:grid;

}

ul.crud-list li i {
    cursor:pointer;
    float: right;
    margin-right: 10px;
    font-size: 17px;
}


.fa-times-circle:before {
    content: "\f057";
    margin: 11px;
    }

#txtPorcentaje{
   width: 40px;
}



.div-well-form{
margin: 10px;
border-radius: 10px;
border-width: 2px;
}


#DivbtnGuardarCargo{
    position: relative;
    left: 830px;
    top: 3px;
}

#divButtonAgrePersonal{
    position: relative;
    top: 25px;
}

#DivButtonAggCCosto{
    position: relative;
    top: 10px;
    left: 365px;
}


div.well.well-ms{
margin: 10px;
border-radius: 10px;
border-width: 2px;
}

div-panel-heading{
    margin: -20px;
    text-align:center;
    font-size: 17px;
    font-family: monospace
}

.lista-square ul{  /*nombree de clase + ul que es el hijo del que se le va a pegar la clase*/
    list-style:square;
}

#divBtnRespon2{
 
     margin-top: 45px;
}

.botonOculto {
   position: relative;
}
.botonOculto input[type='submit'],.botonOculto input[type='button']{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    border: none;
}
.full-screen {
    width: 100%;
    min-height: 100vh;
}


/*==========================================================================================================================================================*/

[img-bg] {
    background-attachment: scroll, fixed;
    background-color: #666;
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/fondo1.jpg");
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    color: #fff;
    padding: 2em 0 20em 0;
    text-align: center;
}
[img-bg="1"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo1.jpg");
}
[img-bg="2"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo2.jpg");
}
[img-bg="3"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo3.jpg");
}
[img-bg="4"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo4.jpg");
}
[img-bg="5"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo5.jpg");
}
[img-bg="6"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo6.jpg");
}
[img-bg="7"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo7.jpg");
}
[img-bg="8"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo8.jpg");
}
[img-bg="9"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo9.jpg");
}
[img-bg="10"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo10.jpg");
}
[img-bg="11"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo11.jpg");
}
[img-bg="12"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo12.jpg");
}
[img-bg="13"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo13.jpg");
}
[img-bg="14"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo14.jpg");
}
[img-bg="15"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo15.jpg");
}
[img-bg="16"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo16.jpg");
}
[img-bg="17"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo17.jpg");
}
[img-bg="18"] {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../Inscripciones/images/Fondo18.jpg");
}

.pt3 {
    padding-top: 3em;
}
.pt5 {
    padding-top: 5em;
}
.pt7 {
    padding-top: 7em;
}
.pt10 {
    padding-top: 10em;
}
.sans{
    font-size: 14px;
    color: #777;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 200;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}

.sans-green{
    color: #83d3c9;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    line-height: 1.65em;
    letter-spacing: -0.015em;
}
h1.sans,h2.sans,h3.sans,h4.sans {
    color: #aaa;
    padding-top: 1em;
    font-size: 4.5em;
    border-bottom: dashed 1px #fff;
    line-height: 1.3em;
}
.bg-green-light h1.sans, .bg-green-light h2.sans, .bg-green-light h3.sans, .bg-green-light h4.sans {
    color: #fff;
}
h1.sans + p {
    background-color: rgba(239, 239, 239, 0.33);
    /* border-radius: 19px; */
    display: inline-block;
    padding: 0.2% 15%;
    color: #9e9e9e;
    font-size: 22px;
}
h2.sans {
    font-size: 3.5em;
}
h3.sans {
    font-size: 2.5em;
}
h4.sans {
    font-size: 1.5em;
}
.tx-green {
    color: #aaa;
}
.btn-alpha {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
    color: #fff;
    min-width: 12em;
}
.btn-alpha.green {    
    background-image: linear-gradient(172deg, transparent 0%,rgba(99, 255, 235, 0.38) 89%);
}
.btn-alpha:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color:#fff;
}
 .btn-alpha.green:hover {
    box-shadow: inset 0 0 0 2px rgba(131, 211, 201, 0.6);
    background-color: rgba(200, 255, 200, 0.1);
}
.middle-line-h>*{
    margin:5px;
}
.middle-line-h > *{
    position:relative;
}
.full-screen {
    position:relative;
}
.toBottom {
    position:absolute;
    bottom:0px;
    left:0;
    right:0;
    margin-bottom:100px;
}
/*
.middle-line-h > :nth-child(1n+0):not(:nth-child(1)):not(:nth-last-child(1)):after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 10px;
    height: 10px;
    background-color: rgba(90, 90, 90, 0.39);
    border-radius: 50%;
    border: 2px dotted rgba(250,250,250,0.4);
    margin-left: 2px;
    margin-top: -5px;
}
.middle-line-h > :nth-child(1n+0):not(:nth-child(1)):not(:nth-last-child(1)):before {
    
    content:"";
    position:absolute;
    top:50%;
    right:101%;
    width:8px;
    height:0px;
    border-bottom: 3px double #918e8f;
}
.middle-line-h > :nth-child(1)::before  {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 10px;
    height: 10px;
    background-color: rgba(90, 90, 90, 0.39);
    border-radius: 50%;
    border: 2px dotted rgba(250,250,250,0.4);
    margin-left: 2px;
    margin-top: -5px;
}
*/
.middle-line-h.lg > *{
    font-size:20px;
    padding:1em 4em;

}
/*
.middle-line-h :nth-last-child(1)::before {
    content:"";
    position:absolute;
    top:50%;
    right:101%;
    width:8px;
    height:0px;
    border-bottom: 3px double #918e8f;
}
    .middle-line-h :nth-last-child(1)::before {

    }*/



.bg-translucid {
    background-color: rgba(234, 234, 234, 0.76);
    border-radius:15px;
    /* border: 3px dashed rgba(250,250,250,0.5); */
    color: #565656;
    font-size:20px;
    text-align: center;
    margin-top:5px;
    margin-bottom:5px;
}

.bg-translucid h3 {
    font-weight: 600;
    border-bottom: 1px solid rgba(250,250,250,0.5);
}
.parallax-window:before {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    content:"";
    display:block;
    z-index:0;
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.7));
}
.parallax-window {
    position:relative;
    background-attachment: scroll, fixed;
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}
    .full-screen:not(#Home) {
        border-top: 12px double rgb(88, 206, 177);
    }
.logo{
    width:150px;
    height:150px;
    opacity:0.9;
}
.logo + * {
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.btn-full {
    margin-top:5px;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size:20px;
}
.toBottom.always {
    margin-bottom:0px;
}
@media (max-height: 650px)  {
.toBottom:not(.always) {
    position:relative;
}

}
@media (max-width: 500px){
.toBottom:not(.always) {
    position:relative;
}
    h1.sans {
        font-size:3.5em;
    }
    h2.sans {
        font-size:2.5em;
    }
    h3.sans {
        font-size:1.5em;
    }
    h4.sans {
        font-size:0.5em;
    }

}
.text-green-light {
    color:#58ceb1;
    font-weight: 700;
}
.text-green-dark {
    color:#4c9a87;
    font-weight: 700;
}

select:not(:focus).text-green-dark {
    color: #B7BAC9;
    font-weight: 700;
}









.ProgramasAcademicos + .showMore {
    position:relative;
    padding-top:35px;
    color:#fff;
    cursor:pointer;
    box-shadow: 0px 0px 10px 5px rgb(55, 188, 155);
    margin: 10px 0 19px 0;
    border-radius: 12px 12px 100% 100%;
    background-color: rgb(55, 188, 155);
    transition: all 0.2s ease-in-out;
}

.ProgramasAcademicos + .showMore:hover {

    background-color: rgb(74, 178, 155);
    box-shadow: 0px 0px 10px 5px  rgb(74, 178, 155);

}
.ProgramasAcademicos + .showMore:after {
    content:"↓";
    padding:3px;
    font-size:15px;
    font-weight:bold;
    background-color:white;
    width:30px;
    height:30px;
    display:inline-block;
    border-radius:15px;
    color:#4c9a87;
    position:absolute;
    top:5px;
    left:50%;
    margin-left:-15px;
}
.ProgramasAcademicos select{
    display:none;
}
.ProgramasAcademicos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow:hidden;
    }
    .ProgramasAcademicos > div:not(.tittle) {
        position: relative;
        background-color: #fff;
        border-radius: 16px;
        padding: 10px;
        transition: all 0.16s ease-in-out;
        cursor: pointer;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        margin: 0.5%;
        width: 48%;
    }
    .ProgramasAcademicos > div[data-active="true"]:before {
        display: inline;
        width: 26px;
        height: 0px;
        position: absolute;
        color: #37bc9b;
        content: "\f00c";
        font: normal normal normal 100%/1 FontAwesome;
        left: -28px;
        margin-right: 184px;
        top: 50%;
        line-height: 0;
        text-align: center;
    }
.ProgramasAcademicos>div:not(.tittle):hover{
    transform: scale(1.02);
    background-color: rgb(237, 237, 237);
    color: #999;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
   
    .ProgramasAcademicos > div[data-active="true"]{
        background-color: #ededed;
        color:#fff;
        border-left:30px solid #fff;
        font-size: 12px;
}

    .ProgramasAcademicos > div[data-active="true"] div:first-child
{
    color: #888;
}
.ProgramasAcademicos>div:not(.tittle):hover div:first-child 
{
    color: #828282;
}
.ProgramaAcademico>div:first-child {
    border-bottom:1px dashed #eee;
    color: #7b7b7b;
    font-weight: 700;
}
.ProgramaAcademico div {
    overflow: hidden;
    word-wrap: break-word;
}

.ProgramaAcademico>div:first-child +* {
    color: #a1a1a1;
    font-size: 12px;
    font-weight: 600;
}

.ProgramasAcademicos > div[data-active="true"].ProgramaAcademico div:first-child +*
{
    color:#a1a1a1;
}
.ProgramasAcademicos > div[data-active="true"]:hover.ProgramaAcademico div:first-child +*,.ProgramasAcademicos > div:hover div:first-child +*{
    color: #7b7b7b;
}
@media (max-width:720px) {
    .ProgramasAcademicos > div:not(.tittle) {
        width:100%;
        margin:0.5% 0px;
    }
}
