/*.full-screen {
    width: 100%;
    height: 100vh;
}
.full-screen-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%

}

.carousel-inner>.item>a>img.img-fullscreen
, .carousel-inner>.item>img.img-fullscreen
, .img-responsive.img-fullscreen
, .thumbnail a>img.img-fullscreen
, .thumbnail>img.img-fullscreen
,.img-fullscreen{
        filter: blur(0.31em);
    -webkit-filter: blur(0.31em); 
    height: initial;
    max-height: none;
    max-width:none;
    min-height: 100%;
    min-width:100%;
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}*/ol.labels-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 1em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.labels-list > li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: #eaeaea;
}
ol.labels-list > li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: #464646;
    background-color: #d0d0d0;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
    border: 2px dotted #edf1f2;
}
.aspCheck{
    border:1px solid #EDF1F2;
    border-radius: 0 0 15px 1em;
}  
.aspCheck.noBorder{
    border: none;
    border-radius: 0;
}
.aspCheck,.aspCheck *{
    position:relative;
    border-radius: 1em;
}
.aspCheck input[type="radio"],.aspCheck input[type="checkbox"] {
    display: block;
    width: 0px;
    height: 0px;
    opacity: 0; 
    margin:0;
}

.aspCheck input[type="radio"]:focus+label:before, .aspCheck input[type="checkbox"]:focus+label:before
{
border:2px solid  #18b;
}  
.aspCheck.inline input[type="radio"]~*
,.aspCheck.inline    input[type="checkbox"]~* {
    display: inline;
}
.aspCheck input[type="radio"]~*
,.aspCheck input[type="checkbox"]~* {
    display: inline-block;
}
.aspCheck td {
    padding:15px;
    display:inline-block;
    vertical-align: top;
    width:33.333%;
    min-height: 25px;
}
    .aspCheck.inline td {
    padding:0 15px;
    }
.aspCheck.aspCheck-x1{
    width:100%;
}
.aspCheck.aspCheck-x2{
    width:50%;
}
.aspCheck.aspCheck-x3{
    width:33.333%;
}
.aspCheck.aspCheck-x4{
    width:25%;
}
/*=============================LABEL======================================*/
.aspCheck input[type="radio"]+label
,.aspCheck input[type="checkbox"]+label {
    font-weight:100;
    font-family:monospace;
    padding-left: 35px;
    vertical-align: initial;
}
/*=============================LABEL:before======================================*/

.aspCheck input[type="radio"]+label:before
,.aspCheck input[type="checkbox"]+label:before {
    content:"";
    background-color:#fff;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    display:block;
    position:absolute;
    top:0;
    left:0;
}

.aspCheck input[type="radio"]+label:before
{
    border-radius: 100%;

}
.aspCheck input[type="checkbox"]+label:before
{
    border-radius: 5px;
    background-color:#fff;
}
/*=============================LABEL:after======================================*/
.aspCheck input[type="radio"]+label:after
,.aspCheck input[type="checkbox"]+label:after {
    content:"";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position:absolute;
    top:0;
    left:0;
}
.aspCheck input[type="radio"]:checked+label:before
,.aspCheck input[type="checkbox"]:checked+label:before {
    background-color: #1db8bd;
    border:2px solid  #1db8bd;
}
.aspCheck input[type="radio"]+label:after
{
    color: #fff;
    padding:4px;
    content: "\f00c";
    font: normal normal normal 16px/1 FontAwesome;


}
.aspCheck input[type="checkbox"]+label:after
{
    color:  #fff;
    padding:4px;
    content: "\f00c";
    font: normal normal normal 16px/1 FontAwesome;
}
.aspCheck[disabled] input[type="radio"]+label, .aspCheck[disabled] input[type="checkbox"]+label {
    pointer-events: none;
}

.aspCheck[disabled] input[type="radio"]:checked+label:before, .aspCheck[disabled] input[type="checkbox"]:checked+label:before {
    background-color: #999;
    border: 2px solid #999;
}

@media only screen and (max-width: 768px) {
    
    .aspCheck td
    ,.aspCheck.aspCheck-x1
    ,.aspCheck.aspCheck-x2
    ,.aspCheck.aspCheck-x3
    ,.aspCheck.aspCheck-x4
     {
        width:100%;
    }
}