
.formulario input[type="checkbox"] {
    display: none;
}

.formulario .checkbox label {
    color: #295884;
    background: rgba(0,0,0,.1);
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 0.8em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .formulario .checkbox label:hover {
        background: rgba(0,116,217,0.1);
    }

    .formulario .checkbox label:before {
        content: "";
        width: 17px;
        height: 17px;
        display: inline-block;
        background: none;
        border: 3px solid #295884;
        position: absolute;
        left: 17px;
        border-radius: 3px;
    }

.formulario input[type="checkbox"]:checked + label {
    padding: 5px 15px;
    background: #295884;
    border-radius: 2px;
    color: white;
}

    .formulario input[type="checkbox"]:checked + label:before {
        display: none;
    }

    /*NUEVA FORMA DE TABS*/
.nav-tabs {
    border-bottom: 2px solid #DDD;
}

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        border-width: 0;
    }

    .nav-tabs > li > a {
        border: none;
        color: #175a4e;
        background: #2958846b;
    }
    
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
            border: none;
            color: #295884 !important;
            background: #fff;
        }
        
        .nav-tabs > li > a::after {
            content: "";
            background: #295884;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: -1px;
            transition: all 250ms ease 0s;
            transform: scale(0);
        }

    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
        transform: scale(1);
    }

.tab-nav > li > a::after {
    background: #295884 none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px;
}

.nav-tabs > li {
    width: 20%;
    text-align: center;
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

@media all and (max-width:724px) {
    .nav-tabs > li > a > span {
        display: none;
    }

    .nav-tabs > li > a {
        padding: 5px 5px;
    }
}
