 * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body {
    font-size: 16px;
    background: #fff;
    font-family: "Roboto";
}
 
.wrap {
    width: 90%;
    max-width: 1000px;
    margin: 0 20px;
    /*margin: auto;*/
}
 
.formulario h2 {
    font-size: 16px;
    color: #001F3F;
    margin-bottom: 20px;
    margin-left: 20px;
}
 
.formulario > div {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.RadioButtonList
{
  font-size:1.4em;
  color:#243C7A;
  padding-left:6px;    
  width:100%;
  line-height:1.4em;  
  margin:2px 25px 0 0; 
}








.contenedorinputs {
    position: relative;
}
.inputradio{
    
    opacity: 0; /* Ocultamos el input verdadero con opacity: 0 */
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.inputfalso{
    border: 2px solid #dedede;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 21px;
    z-index: -1;
}
 
input[type="checkbox"]:checked + span:after {    
content: "✔"; /* el valor de la propiedad content también puede ser cualquier imagen, sólo tendríamos que pasarle la ruta de la imagen*/
    position: absolute;
    text-indent: 2px;
    top: -1px;
    left: 2px;
    color: red;
}




