.spinnerBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding-top: 50vh;
    padding-bottom: 50vh;
    vertical-align: middle;
    z-index: 900;
}

.spinnerContent {
    text-align: center;
    position: relative;
}

.spinnerItem {                                               
    margin: 0 auto 0;
    width: 70px;
    text-align: center;
}

    .spinnerItem > div {
        width: 18px;
        height: 18px;
        background-color: #333;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }

    .spinnerItem .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .spinnerItem .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.ContenedorGris {
    background-color: #80808029;
}

.lblInfo {
    background-color: #5d9cec5e;
}

.titulo {
    color: black;
    font-style: italic;
}

.tableFixHead {
    /*overflow-y: auto;*/
    /*max-height: calc(100vh - 350px);*/
    /*min-height: 400px;*/
}

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        border: 1px solid;
    }

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}



th, td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.tableFixHead tbody tr td {
    border: 1px dashed;
}

.cntr {
    margin: auto;
}

.btn-radio {
    cursor: pointer;
    display: inline-block;
    /*float: left;*/
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }

        .btn-radio:not(:first-child) {
            margin-left: 0;
            margin-top: 15px;
        }
}

.btn-radio svg {
    fill: none;
    vertical-align: middle;
}

    .btn-radio svg circle {
        stroke-width: 2;
        stroke: #295884;
    }

    .btn-radio svg path {
        stroke: #295884;
    }

        .btn-radio svg path.inner {
            stroke-width: 6;
            stroke-dasharray: 19;
            stroke-dashoffset: 19;
        }

        .btn-radio svg path.outer {
            stroke-width: 2;
            stroke-dasharray: 57;
            stroke-dashoffset: 57;
        }

.btn-radio input {
    display: none;
}

    .btn-radio input:checked + svg path {
        transition: all 0.5s ease;
    }

        .btn-radio input:checked + svg path.inner {
            stroke-dashoffset: 38;
            transition-delay: 0.4s;
        }

        .btn-radio input:checked + svg path.outer {
            stroke-dashoffset: 0;
        }

.btn-radio span {
    display: inline-block;
    vertical-align: middle;
}

.lblError {
    color: red;
}

.radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


    .radio input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }


.checkround {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-color: #295884;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}


/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #295884;
}


.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 50%;
}

    .option-input:hover {
        background: #9faab7;
    }

    .option-input:checked {
        background: #295884;
    }

        .option-input:checked::before {
            height: 30px;
            width: 30px;
            position: absolute;
            content: '✔';
            display: inline-block;
            font-size: 26.66667px;
            text-align: center;
            line-height: 30px;
        }

        .option-input:checked::after {
            -webkit-animation: click-wave 0.65s;
            -moz-animation: click-wave 0.65s;
            animation: click-wave 0.65s;
            background: rgba(64, 224, 208, 0.45);
            content: '';
            display: block;
            position: relative;
            z-index: 100;
        }

    .option-input.radio {
        border-radius: 50%;
    }

        .option-input.radio::after {
            border-radius: 50%;
        }

