
.newSelect {
    position: relative !important;
    outline: none;
    cursor: pointer;
}

    .newSelect .newSelect-list {
        position: absolute;
        left: 0; 
        right: 0;
        background-color: #fff;
        z-index: 99999;
        padding: 5px 2px;
        border: 1px solid #ccc;
    }

        .newSelect .newSelect-list .newSelect-list-inner {
            margin-top: 5px;
            margin-bottom: 5px;
            overflow: hidden;
            overflow-y: auto;
        }

        .newSelect .newSelect-list .newSelect-item {
            margin: 1px;
            padding: 3px;
            font-size: 12px;
            border-bottom: 1px solid #ccc;
            position: relative;
            color: #333;
            transition: all 0.1s ease-in-out;
            cursor: pointer;
            transform: scale(0.975);
        }

            .newSelect .newSelect-list .newSelect-item:hover,
            .newSelect .newSelect-list .newSelect-item:active,
            .newSelect .newSelect-list .newSelect-item:focus {
                background-color: #eee;
                color: #555;
                transform: scale(1);
            }

        .newSelect .newSelect-selection:after {
            content: "\2BC6";
            position: absolute;
            right: 10px;
        }

    .newSelect .newSelect-selection {
        display: inline-block;
        max-height: 100%;
        overflow-wrap: break-word;
        overflow: hidden;
    }

    .newSelect .newSelect-list .newSelect-search {
        display: block;
        width: 100%;
        border-bottom: #1dcabd solid 1px;
        padding: 3px;
        position: relative;
        border-radius: 4px;
        color: #888;
        background-color: #ffffff;
        padding: 5px;
    }

        .newSelect .newSelect-list .newSelect-search input {
            border: none;
            width: 100%;
            padding: 4px;
            padding-left: 30px;
        }

        .newSelect .newSelect-list .newSelect-search i {
            position: absolute;
            top: 8px;
            left: 10px;
            font-size: 18px;
        }
