.BotonesReportes {
    background-color: rgba(41, 88, 132, 0.61);
    border-radius: 65px;
    height: 46px;
    width: 47px;
    padding: 8px;
    margin: 1% 1% 1% 1%;
    border: 2px solid;
    border-color: white;
}

.fa-2x {
    color: #000 !important;
    font-weight: 100;
}


.BotonesReportes:hover .fa-2x {
    color: #295884 !important;
}

.panel-heading {
    background-color: #295884 !important;
    color: #fff !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #3c6a9c !important;
    background-color: rgba(171, 209, 244, 0.75) !important;
}

[aria-selected="true"] {
    background-color: #295884 !important;
    color: #fff !important;
}

/*ANIMACION*/
.loading-background:after {
    content: "Por favor espere...";
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: monospace;
    color: #295884;
    margin-top: 214px;
}


.cssload-bell {
    width: 80px;
    height: 82px;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 40px);
}

.cssload-circle {
    width: 100%;
    height: 100%;
    position: absolute;
}

    .cssload-circle .cssload-inner {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 4px solid rgba(41, 88, 132, 0.7);
        border-right: none;
        border-top: none;
        background-clip: padding;
        box-shadow: inset 0px 0px 8px rgba(41, 88, 132, 0.19);
    }

    .cssload-circle:nth-of-type(0) {
        transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }

        .cssload-circle:nth-of-type(0) .cssload-inner {
            animation: cssload-spin 1.5s infinite linear;
            -o-animation: cssload-spin 1.5s infinite linear;
            -ms-animation: cssload-spin 1.5s infinite linear;
            -webkit-animation: cssload-spin 1.5s infinite linear;
            -moz-animation: cssload-spin 1.5s infinite linear;
        }

    .cssload-circle:nth-of-type(1) {
        transform: rotate(70deg);
        -o-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
        -webkit-transform: rotate(70deg);
        -moz-transform: rotate(70deg);
    }

        .cssload-circle:nth-of-type(1) .cssload-inner {
            animation: cssload-spin 1.5s infinite linear;
            -o-animation: cssload-spin 1.5s infinite linear;
            -ms-animation: cssload-spin 1.5s infinite linear;
            -webkit-animation: cssload-spin 1.5s infinite linear;
            -moz-animation: cssload-spin 1.5s infinite linear;
        }

    .cssload-circle:nth-of-type(2) {
        transform: rotate(140deg);
        -o-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        -moz-transform: rotate(140deg);
    }

        .cssload-circle:nth-of-type(2) .cssload-inner {
            animation: cssload-spin 1.5s infinite linear;
            -o-animation: cssload-spin 1.5s infinite linear;
            -ms-animation: cssload-spin 1.5s infinite linear;
            -webkit-animation: cssload-spin 1.5s infinite linear;
            -moz-animation: cssload-spin 1.5s infinite linear;
        }

.cssload-bell {
    animation: cssload-spin 3.75s infinite linear;
    -o-animation: cssload-spin 3.75s infinite linear;
    -ms-animation: cssload-spin 3.75s infinite linear;
    -webkit-animation: cssload-spin 3.75s infinite linear;
    -moz-animation: cssload-spin 3.75s infinite linear;
}