.TabSeleccionado{
    color: #295884 !important;
    background: transparent;
}

.Modal-Bg {
    background: rgba(0, 0, 0, 0.71);
}


.modal-backdrop.in {
    display: none !important;
}

.MBtn {
    margin-bottom: 5%;
}

.iconoBnt .material-icons {
    font-size: 130%;
    padding-top: 20%;
}

.menu li a {
    cursor: pointer;
}

/*.divDepreciacion {
    width: 250px;
    right: 10%;
    top: 95%;
    font-size: 90%;
}*/

.btnCerrar{
    width:20px !important;
    height:20px !important;
    padding:2px;
}
label {
    color: black !important;
}

.lbltr {
    color: white !important;
}

.tdOpciones{
    display:block;
    justify-content:center;
    padding:16% !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 460px !important;
}
.divsIconos {
    background-color: #F1F1F5 !important;
    position: absolute;
    z-index: 1001;
    box-shadow: -1px 4px 20px -1px rgb(0,0, 0, 0.52);
    border-radius: 5px;
}
.divSeñal {
    background-color: #F1F1F5 !important;
    width: 30px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    right: 2%;
}

.divAccionesAct {
    width: 200px;
    right: 4.5%;
    top: 96%;
}

.divRelativo {
    position: relative;
}

.cuerpoCaja {
    padding:20px 35px 15px 20px;
}

.divContenedorOp {
    transition: 1s ease;
    margin: 0 3% 4% 3%;
}

.Contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divOpciones {
    background-color: #D7DCEA;
    width: auto;
    border-radius: 6px;
    padding: 20px 25px 15px 25px;
    text-align: center;
    font-weight: 700;
}

.divContenedorOp .divOpciones:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

.divOpcionesSeleccionado {
    background-color: #C3CFF0;
    color: #295884;
}


.TituloForm {
    background-color: #295884;
    color: white;
    margin-top:2%;
}

@keyframes click-wave {
    0% {
        height: 30px;
        width: 30px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
    border-radius: 50%;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #295884;
}

.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 30px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.3s;
    -moz-animation: click-wave 0.3s;
    animation: click-wave 0.3s;
    background: rgba(64, 224, 208, 0.45);
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {
    border-radius: 50%;
}

.option-input.radio::after {
    border-radius: 50%;
}

.etiquetaEstado {
    border-radius: 8px;
    color: #000;
    padding:5px, 0;
}

.divGrafico {
    width: 190px !important;
    height: 161px !important;
    margin: 2%;
    justify-content: center;
    overflow: hidden;
}

.divGrafico p {
    padding: 0,5px, 0, 5px;
    white-space: initial;
    word-wrap: break-word;
}

.divGrafico:hover i {
    color: #295884 !important;
    font-size: 40px;
    transform: translateY(0);
    transition: all 200ms;
}

.divGrafico:hover p {
    color: #295884 !important;
}

.divGrafico:hover {
    background-color: #C3CFF0;
}

.pendiente {
    background-color: #C2C5CC;
}

.aprobada {
    background-color: rgba(64, 224, 208, 0.45);
}

.Rechazada {
    background-color: rgba(247, 41, 41, 0.35);
}

.Anulada {
    background-color: rgba(252, 176, 27, 0.35);
}

/*Checks para los estados y para identificar el proceso en que esta un activo*/
.contendorCheck {
    display: flex;
}

.LabelcheckEstados {
    display: flex;
    margin-right: 10px;
}

.checkEstados {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 35px !important;
    height: 35px !important;
    background-color: none;
    outline: none;
    position: relative;
    color: #000;
    cursor: pointer;
}

    .checkEstados:checked::before {
        height: 35px;
        width: 35px;
        position: absolute;
        content: '✔';
        display: inline-block;
        font-size: 29px;
        text-align: center;
        line-height: 30px;
    }


.checkEstadosDiv {
    margin-top: 6.5px;
    margin-left: -1px;
    width: 200px;
    padding: 2px 2px 2px 10px;
    color: #000;
    border-radius: 0 5px 5px 0;
    border-left: none;
}
/* Pendiente*/
.checkPendiente {
    border: 2px rgba(128, 128, 128, 0.35) solid;
}

    .checkPendiente:checked {
        background: #80808029 !important;
    }

.divPendiente {
    background-color: #80808029;
    border: 2px rgba(128, 128, 128, 0.35) solid;
}

/* Aprobada*/

.checkAprobado {
    border: 2px rgba(63, 218, 202, 0.45) solid;
}

    .checkAprobado:checked {
        background: rgba(64, 224, 208, 0.45) !important;
    }

.divAprobado {
    background-color: rgba(64, 224, 208, 0.45);
    border: 2px rgba(63, 218, 202, 0.45) solid;
}

/* Rechazada*/

.checkRechazado {
    border: 2px rgba(234, 35, 35, 0.35) solid;
}

    .checkRechazado:checked {
        background: rgba(247, 41, 41, 0.35);
    }

.divRechazado {
    background-color: rgba(247, 41, 41, 0.35);
    border: 2px rgba(234, 35, 35, 0.35) solid;
}


/* Anulada*/

.checkAnulada {
    border: 2px rgba(222, 155, 25, 0.35) solid;
}

    .checkAnulada:checked {
        background: rgba(252, 176, 27, 0.35);
    }

.divAnulada {
    background-color: rgba(252, 176, 27, 0.35);
    border: 2px rgba(222, 155, 25, 0.35) solid;
}

.ContenedorEstadoSolicitud{
    display:flex;
    padding-left:10%;
    margin-right:20%;
}
.RecuadroIconoEstado {
    padding: 2px !important;
    width: 30px !important;
    height: 32px !important;
    margin-top: 5.5px;
}
.iconoEstado {
    padding: 1.2px !important;
    font-size: 22px;
}
.fa-times-circle:before {
    margin: 0 !important;
}
.divEstadoSolicitud {
    color: #000;
    border-radius: 0 5px 5px 0;
    margin-top: 8px;
    margin-left: 0.5px;
    padding: 3px 4px;
    font-size: 11px;
}
/*Bordes y color iconos*/
.BordeAnulada {
    border: 2px rgba(222, 155, 25, 0.35) solid;
}
.BordeRechazada {
    border: 2px rgba(234, 35, 35, 0.35) solid;
}
.BordeAprobada {
    border: 2px rgba(63, 218, 202, 0.45) solid;
}
.BordePendiente {
    border: 2px rgba(128, 128, 128, 0.35) solid;
}
.IconoAnulada {
    color: rgba(252, 176, 27, 0.35);
}
.IconoRechazada {
    color: rgba(247, 41, 41, 0.35);
}
.IconoAprobada {
    color: rgba(64, 224, 208, 0.45);
}
.IconoPendiente {
    color: #80808029;
}

.tabla1 {
    overflow-x: scroll;
}
@media only screen and (max-width:600px)
{
    .contendorCheck {
        display: block;
    }
}
